
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!-- Page Header Start -->
<div class="container-fluid header-bg py-5 mb-5 wow fadeIn"
     data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 text-white mb-3 animated slideInDown">Tic tức</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a class="text-white" href="#">Trang chủ</a>
                </li>
                <li class="breadcrumb-item text-primary active" aria-current="page">
                    Tin tức
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Tin Tức -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <img class="card-img-top" src="~/Asset/Admin/animal_img/1gtmmv9e9k_64_ATIBT_CONGO_2022_01889.jpg" alt="Ảnh bài viết">
                <div class="card-body">
                    <h2 class="card-title">Bảo Vệ Loài Voi: Giữ Vững Di Sản Tự Nhiên của Chúng Ta</h2>
                    <p class="card-text">Loài voi không chỉ là một phần của hệ sinh thái tự nhiên, mà còn đóng vai trò quan trọng trong việc duy trì sự cân bằng sinh thái. Chúng là loài gieo hạt giống tự nhiên, giữ gìn cỏ và cây cối, và cung cấp nước cho các khu vực khô cằn bằng cách tạo ra những hồ nước tự nhiên..</p>
                    <a href="#" class="btn btn-primary">Đọc thêm &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Ngày đăng: 15/04/2024
                </div>
            </div>
            <!-- Thêm các tin tức khác ở đây -->
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Danh mục</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Sự đa dạng sinh học</a></li>
                        <li class="list-group-item"><a href="#">Bảo vệ môi trường</a></li>
                        <li class="list-group-item"><a href="#">Sống xanh</a></li>
                        <li class="list-group-item"><a href="#">Khoa học và nghiên cứu</a></li>
                        <li class="list-group-item"><a href="#">Công nghệ tiếp cận</a></li>
                        <!-- Thêm các chủ đề khác vào đây -->
                    </ul>
                </div>
            </div>
            <!-- Thêm các box thông tin khác ở đây -->
        </div>
    </div>
</div>


