
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section Style{
    <link href="~/Asset/User/css/aboutus.css" rel="stylesheet" />
}
<!-- Page Header Start -->
<div class="container-fluid header-bg py-5 mb-5 wow fadeIn"
     data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 text-white mb-3 animated slideInDown">Về Wild Nature</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a class="text-white" href="#">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="text-white" href="#">Pages</a>
                </li>
                <li class="breadcrumb-item text-primary active" aria-current="page">
                    Về Wild Nature
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Bắt đầu Giới thiệu -->
<section id="about" class="animated">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">
                    Tại sao bạn phải bảo vệ động vật
                </h1>
                <p>
                    Bảo vệ động vật là bảo vệ cho sự đa dạng sinh học và môi trường tự nhiên. Chúng duy trì cân bằng sinh thái và ảnh hưởng trực tiếp đến cuộc sống của con người trong tương lai. Đó là trách nhiệm của chúng ta.
                </p>
                <ul>
                    <li><i class="far fa-check-circle"></i>Bảo vệ động vật giữ cho môi trường tự nhiên nguyên vẹn.</li>
                    <li><i class="far fa-check-circle"></i>Bảo vệ động vật là bảo vệ sự đa dạng sinh học của hành tinh.</li>
                    <li><i class="far fa-check-circle"></i>Bảo vệ động vật giúp duy trì cân bằng sinh thái.</li>
                    <li><i class="far fa-check-circle"></i>Bảo vệ động vật giúp duy trì cân bằng sinh thái.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="~/Asset/User/img/about.jpg" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- Phần giới thiệu về Wild Nature -->
<section id="about-wild-nature" class="animated">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="~/Asset/Admin/animal_img/1gtmmv9e9k_64_ATIBT_CONGO_2022_01889.jpg" alt="Wild Nature Team" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">
                    Thông tin về Wild Nature
                </h1>
                <p>
                    Wild Nature là một tổ chức phi lợi nhuận chuyên về bảo tồn động vật và môi trường tự nhiên. Chúng tôi thành lập với mục tiêu bảo vệ và duy trì sự đa dạng sinh học trên hành tinh. Sứ mệnh của chúng tôi là phát triển các dự án và hoạt động nhằm tăng cường nhận thức về giá trị của động vật và môi trường, và khuyến khích cộng đồng tham gia vào công cuộc bảo vệ và duy trì sự sống của chúng.
                </p>
                <p>
                    Chúng tôi xin trân trọng giới thiệu đến quý vị một số thành viên chính của đội ngũ Wild Nature, gồm có những nhà khoa học, nhà quản lý môi trường và những người đam mê bảo tồn động vật. Chúng tôi cùng nhau làm việc để thực hiện sứ mệnh và mục tiêu của tổ chức.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="projects" class="animated">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Dự án và hoạt động</h1>
                <ul>
                    <li><i class="fas fa-check-circle"></i>Bảo vệ và phục hồi môi trường sống của các loài động vật quý hiếm.</li>
                    <li><i class="fas fa-check-circle"></i>Nghiên cứu về sinh thái học và đa dạng sinh học của các khu vực đặc biệt quan trọng.</li>
                    <li><i class="fas fa-check-circle"></i>Tổ chức các chương trình giáo dục cộng đồng để tăng cường nhận thức về bảo tồn động vật và môi trường tự nhiên.</li>
                    <li><i class="fas fa-check-circle"></i>Chiến dịch nhận thức môi trường để tạo ra sự thay đổi tích cực trong hành vi và chính sách môi trường.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img src="~/Asset/Admin/animal_img/892v04zdjl__WW283020.jpg" alt="Wild Nature Projects" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- Phần thành tựu và kỷ nguyên -->
<section id="achievements" class="animated">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="~/Asset/Admin/animal_img/R.jpg" alt="Wild Nature Achievements" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Thành tựu và kỷ nguyên</h1>
                <p>
                    Chúng tôi tự hào về những thành tựu mà Wild Nature đã đạt được. Đã có hàng nghìn con động vật quý hiếm được bảo tồn và phục hồi môi trường sống của chúng nhờ vào các dự án của chúng tôivà sự đóng góp của cộng đồng. Các nghiên cứu khoa học của chúng tôi đã đưa ra những thông tin quan trọng về sinh thái học và đa dạng sinh học, giúp tăng cường hiểu biết và nhận thức về giá trị của sự đa dạng trong thiên nhiên. Các chiến dịch nhận thức môi trường của chúng tôi đã lan tỏa thông điệp về bảo vệ môi trường và kích thích sự thay đổi tích cực trong cách suy nghĩ và hành vi của mọi người.
                </p>
                <p>
                    Chúng tôi cam kết tiếp tục nỗ lực để bảo vệ và duy trì sự sống của động vật và môi trường tự nhiên. Sự ủng hộ và đóng góp của quý vị là rất quan trọng đối với chúng tôi trong cuộc hành trình này.
                </p>
            </div>
        </div>
    </div>
</section>