@{
    ViewBag.Title = "Xác minh mã";
}
<head>
    <title>Xác minh mã</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Asset/Admin/controller/Login/images/icons/favicon.ico" />
    <link href="~/Asset/Admin/controller/Login/css/addLogin.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Asset/Admin/controller/Login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Asset/Admin/controller/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Asset/Admin/controller/Login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Asset/Admin/controller/Login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Asset/Admin/controller/Login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Asset/Admin/controller/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Asset/Admin/controller/Login/css/main.css">
    <meta name="robots" content="noindex, follow">
</head>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/Asset/Admin/controller/Login/images/img-01.png" alt="IMG">
            </div>
            <form class="login100-form validate-form" method="post">
                @Html.AntiForgeryToken()
                <span class="login100-form-title">
                    Xác minh mã
                </span>
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["error"]
                    </div>
                }
                <div class="wrap-input100 validate-input" data-validate="Valid code is required">
                    <input class="input100" type="text" name="code" placeholder="Mã xác minh">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Xác minh
                    </button>
                </div>
                <div class="text-center p-t-12">
                    <span class="txt2">
                        Không nhận được mã ?
                    </span>
                    <a class="txt2" href="javascript:void(0)" id="resend-code-link">
                        Gửi lại mã
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Asset/Admin/controller/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/Asset/Admin/controller/Login/vendor/bootstrap/js/popper.js"></script>
<script src="~/Asset/Admin/controller/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Asset/Admin/controller/Login/vendor/select2/select2.min.js"></script>
<script src="~/Asset/Admin/controller/Login/vendor/tilt/tilt.jquery.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    });
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-23581568-13');

    $(document).ready(function() {
        $('#resend-code-link').click(function() {
            $.ajax({
                url: '@Url.Action("ResendCode", "Login")',
                type: 'GET',
                success: function(result) {
                    alert("Mã xác minh mới đã được gửi!");
                },
                error: function(xhr, status, error) {
                    alert("Có lỗi xảy ra khi gửi mã xác minh. Vui lòng thử lại.");
                }
            });
        });
    });
</script>
