/* Ẩn thanh cuộn cho tất cả các trình duyệt */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

    /* Ẩn thanh cuộn cho Chrome, Safari và Opera */
    body::-webkit-scrollbar {
        display: none;
    }
