<!DOCTYPE html>
<html>
<head>
    <title> Liên hệ mới: {{Name}}</title>
    <meta charset="utf-8" />
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .email-content {
            padding: 20px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            margin: 0 auto;
            width: 80%;
        }

            .email-content p {
                line-height: 1.6;
            }
    </style>
</head>
<body>
    <div class="email-content">
        <p>Thông tin liên hệ người gửi: <strong>{{Name}}</strong></p>
        <p>Email: <strong>{{Email}}</strong></p>
        <p>Tiêu đề: <strong>{{Subject}}</strong></p>
        <p>Nội dung: <strong>{{Decription}}</strong></p>
    </div>
</body>
</html>
